<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MicroFinance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MicroFinance.Properties.Settings.DBConnection" connectionString="Data Source=SQL6010.site4now.net,1433;Initial Catalog=DB_A5D7B5_microfinance;User Id=DB_A5D7B5_microfinance_admin;Password=Microfinance007;" providerName="System.Data.SqlClient"/>
        <add name="MicroFinance.Properties.Settings.db" connectionString="Data Source=SQL6010.site4now.net,1433;Initial Catalog=DB_A5D7B5_microfinance;User Id=DB_A5D7B5_microfinance_admin;Password=Microfinance007;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <MicroFinance.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=SQL6010.site4now.net,1433;Initial Catalog=DB_A5D7B5_microfinance;User Id=DB_A5D7B5_microfinance_admin;Password=Microfinance007;</value>
            </setting>
        </MicroFinance.Properties.Settings>
    </userSettings>
</configuration>
