<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MicroFinance.Properties.Settings.DBConnection" connectionString="Data Source=tcp:192.168.0.103\SQLEXPRESS1,49172;Initial Catalog=MicroFinance;User ID=sa;Password=data"
            providerName="System.Data.SqlClient" />
        <add name="MicroFinance.Properties.Settings.db" connectionString="Data Source=tcp:192.168.0.103\SQLEXPRESS1,49172;Initial Catalog=MicroFinance;User ID=sa;Password=data"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>